<html>
    <head>
        <title>DIO.me</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
            <h1>DIO.me</h1>
            <div class="navbar-buttons">
                <a href="../index.html">Portal DIO.me</a>
            </div>
        </div>
        <div class="container">
            <ul>
                <h2>Resultado Cadastro</h2>
                <li>Nome: José da Silva</li>
                <li>CPF: 11177799933</li>
                <li>Email: Java01@gmail.com</li>
                <li>Telefone: +55 11944447777</li>
            </ul>

        </div>
    </body>
</html>

