<html>
    <head>
        <title>DIO.me</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
            <h1>DIO.me</h1>
            <div class="navbar-buttons">
                <a href="../index.html">Portal DIO.me</a>
            </div>
        </div>
        <div class="main">
            <h2>Escala de Satisfação:</h2>
            <ul>
                <li>1: 😠 Muito Insatisfeito</li>
                <li>2: 🙁 Pouco Insatisfeito</li>
                <li>3: 😐 Neutro</li>
                <li>4: 🙂 Pouco Satisfeito</li>
                <li>5: 😍 Muito Satisfeito</li> <br>
      
                <h3>Pesquisa de Satisfação</h3>
                <li>Nome: José da Silva</li>
                <li>CPF: 11177799933</li>
                <li>Pergunta 1: 4</li>
                <li>Pergunta 2: 4 </li>
                <li>Pergunta 3: 3</li>
                <li>Pergunta 4: 5</li>
                <li>Pergunta 5: 2</li>
            </ul>

        </div>
    </body>
</html>

